.cart_display {

}

.cart_display_none {
    display: none;
}

.close_button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.purchase_button {
    
}

.purchase_button_none {
    display: none;
}

.purchase_button:hover {
    cursor: pointer;
}