.cart_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_display_none {
    display: none;
}

.close_button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.purchase_button_none {
    display: none;
}

.purchase_button:hover {
    cursor: pointer;
}